@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.mainButton {
  border: 1px solid $neon-violet-color;
  cursor: pointer;
  padding: toRem(10) toRem(20);
  font-weight: $semiBold;
  border-radius: toRem(6);
  font-size: 14px;

  transition: all $transitionDuration;

  &:hover {
    background-color: #7e00ff;
    color: #fff;
    box-shadow: 1px 1px 54px 9px rgba(217, 0, 173, 0.49);
  }
}
