@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.priceSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.cards {
  text-align: center;

  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
