@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.priceSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.cardsWrapper {
  :global(.swiper-slide) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: toRem(24);
  text-align: center;
  justify-items: center;

  @media (min-width: 850px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1240px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  gap: toRem(16);
  margin-bottom: toRem(24);
}

.navButton {
  width: toRem(40);
  height: toRem(40);
  border: 1px solid $neon-violet-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: toRem(6);
  transition: all $transitionDuration;

  &:hover {
    background-color: #7e00ff;
  }

  &::after {
    content: "";
    display: block;
    border: 1px solid $neon-violet-color;
    border-width: 0 2px 2px 0;
    padding: 6px;
  }

  &.prev::after {
    transform: rotate(135deg);
  }

  &.next::after {
    transform: rotate(-45deg);
  }
}

// .cardItem {
//   width: 100%;
//   max-width: 350px;
// }

// .priceSection {
//   margin-block: toRem(95);
// }

// .headline {
//   margin-bottom: toRem(65);
// }

// .cards {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 24px;
//   text-align: center;
//   justify-items: center;

//   @media (min-width: $tablet) {
//     // grid-template-columns: repeat(3, 1fr);
//   }

//   @media (min-width: $desktop) {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
