@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.card {
  background-color: #000;
  border: 1px solid $neon-violet-color; // фіолетовий неон
  border-radius: toRem(16);
  padding: toRem(20) toRem(35);
  width: 100%;
  max-width: toRem(350);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: toRem(500);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: toRem(16);
}

.icon {
  color: #a855f7;
  font-size: toRem(40);
  margin-bottom: toRem(8);
}

.title {
  font-size: toRem(18);
  font-weight: 600;
  text-transform: uppercase;
}

.prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: toRem(8);
}

.priceRow {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(168, 85, 247, 0.5);
  padding: 12px 4px;
  font-size: 14px;

  // @media (min-width: $tablet) and (max-width: $desktop) {
  //   flex-direction: column;
  // }
}

.priceRow:first-child {
  border-top: none;
}

.name {
  opacity: 0.9;
}

.amount {
  font-weight: 600;
}
