@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.container {
  padding-left: toRem(20);
  padding-right: toRem(20);
  margin: 0 auto;
  max-width: 1440px;

  @media (min-width: $tablet) {
    padding-left: toRem(40);
    padding-right: toRem(40);
  }

  @media (min-width: $desktop) {
    padding-left: toRem(80);
    padding-right: toRem(80);
  }
}
