@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.aboutSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: toRem(50);

  &__benefits {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: toRem(25);
  }

  &__slider {
    width: 45%;
  }

  @media (min-width: $tablet) {
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.highlight {
  color: $neon-violet-color;
}
