@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.aboutSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(50);

  &__benefits {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Roboto", sans-serif;

    &__item {
      flex: 1 1 calc(50% - 10px);
      background-color: #1e1e1e;
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      font-size: 16px;
      line-height: 1.5;
    }

    @media (max-width: 768px) {
      &__item {
        flex: 1 1 100%;
      }
    }
  }

  &__slider {
    width: 50%;
  }
}
