@font-face {
  font-family: "Nudla";
  src: url("/fonts/Nudla-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockStar";
  src: url("/fonts/RS-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockStar";
  src: url("/fonts/RS-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockStar";
  src: url("/fonts/RS-extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockStar";
  src: url("/fonts/RS-extralight.otf") format("opentype");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
