@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: $secondary-bg-color;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;

  text-align: center;
  animation: fadeIn 0.3s ease;
}

.modal__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
