@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;

  background: $secondary-bg-color;
  padding: toRem(32);
  margin: toRem(30);
  border-radius: toRem(12);
  max-width: toRem(500);

  max-height: 80vh;
  overflow-y: auto;

  text-align: center;
  animation: fadeIn 0.3s ease;

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: toRem(20);
  }

  &__name {
    margin-bottom: toRem(15);
  }

    &::-webkit-scrollbar {
    width: toRem(8);
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); // фон треку
    border-radius: toRem(8);
  }

  &::-webkit-scrollbar-thumb {
    background: $neon-violet-color;
    border-radius: toRem(8);

    &:hover {
      background: lighten($neon-violet-color, 10%);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.closeBtn {
  background: none;
  color: white;
  border: 1px solid $neon-violet-color;
  border-radius: toRem(8);
  padding: toRem(6) toRem(12);
  cursor: pointer;
  transition: background 0.3s;
  margin-top: toRem(20);

  &:hover {
    background-color: rgba(154, 52, 232, 0.2);
  }
}
