@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.header {
  width: 100%;
  padding-block: toRem(80);
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translate(-50%);
  background-image: url("/images/fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.subtimg {
  position: absolute;
  width: 300px;
  bottom: -20px;
  right: 5px;
}
