@use "../../styles/utils/functions" as *;
@use "../../styles/utils/variables" as *;

.hero {
  position: sticky;
  top: 0;
  z-index: 10;

  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toRem(20) toRem(5);

  &__logo {
    height: toRem(40);

    @media (min-width: 950px) {
      height: toRem(30);
    }

    @media (min-width: $desktop) {
      height: toRem(40);
    }
  }

  .iconButton {
    cursor: pointer;
    width: 25px;

    // @media (min-width: $tablet) {
    //   width: 25px;
    // }

    // @media (min-width: $desktop) {
    //   width: 25px;
    // }
  }

  .burger {
    display: none;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  &__auth {
    display: flex;
    align-items: center;

    gap: toRem(20);
  }

  &__bg {
    position: absolute;
    background-color: $primary-color;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translate(-50%);
    z-index: -1;
  }
}

// .nav {
//   display: flex;
//   gap: toRem(20);

//   @media (max-width: 950px) {
//     display: none;
//     position: absolute;
//     top: 100%;
//     right: 0;
//     flex-direction: column;
//     background-color: grey;
//     padding: toRem(20);
//     z-index: 10;
//     width: 100%;
//   }

//   &.nav_open {
//     display: flex;
//   }

//   &_item {
//     padding: toRem(10) 0;
//     text-decoration: none;
//     color: red;
//   }
// }

// .burger_icon {
//   display: none;
//   cursor: pointer;

//   @media (max-width: 950px) {
//     display: block;
//   }
// }

// .hero {
//   position: fixed;

//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   margin-block: toRem(40);

//   &__logo {
//     height: toRem(30);
//   }

//   &__nav {
//     display: flex;
//     gap: toRem(15);
//     font-size: 14px;

//     a {
//       color: white;
//       font-weight: $semiBold;
//       border-radius: toRem(6);

//       transition: all $transitionDuration;

//
//     }
//   }

//   &__auth {
//     display: flex;
//   }
// }

// .burger_icon {
//   display: none;
//   cursor: pointer;
// }&:hover {
//         background-color: rgba(217, 0, 173, 0.3);
//         color: #fff;
//         box-shadow: 1px 1px 54px 9px rgba(217, 0, 173, 0.3);
//       }
