@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.landingText {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin-bottom: toRem(65);
  }

  &__subtitle {
    color: $description-text-color;
    width: 80%;
    margin-bottom: toRem(30);

    &__line {
      display: flex;
      align-items: flex-start;
      gap: toRem(8);
      margin-bottom: toRem(25);

      svg {
        flex-shrink: 0;
        color: $neon-violet-color;
        width: toRem(16);
        height: toRem(16);
        margin-block: toRem(1);
      }
    }

    @media (min-width: $tablet) {
      margin-bottom: toRem(40);
    }

    @media (min-width: $desktop) {
      margin-bottom: toRem(50);
    }
  }

  @media (min-width: $tablet) {
    width: 65%;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}

.highlight {
  color: $neon-violet-color;
}
