@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.landingText {
  width: 50%;
  margin-top: 13%;

  display: flex;
  gap: toRem(40);
  flex-direction: column;
  align-items: flex-start;

  &__subtitle {
    color: $description-text-color;
    width: 80%;

    &__line {
      display: flex;
      align-items: flex-start;
      gap: toRem(8);
      margin-bottom: toRem(12);

      svg {
        flex-shrink: 0;
        color: $neon-violet-color;
        width: toRem(16);
        height: toRem(16);
        margin-block: toRem(1);
      }
    }
  }
}

.highlight {
  color: $neon-violet-color;
}
