@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.menu__list {
  display: flex;
  // column-gap: toRem(48);
  padding-inline: toRem(10);
  align-items: center;
  transition: all $transitionDuration ease-in-out;
}

.menu__item {
  transition: transform $transitionDuration ease 0s;
  padding-inline: toRem(10);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: $transformScale;
      background-color: rgb(154 52 232 / 40%);
      box-shadow: 1px 1px 20px 5px rgb(154 52 232 / 82%);
    }
  }
}

.menu__link {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .menu__list {
    // column-gap: toRem(12);
    display: none;
  }
  .menu__link {
    font-size: toRem(12);
  }
  // }

  // @media (max-width: 685px) {
  //   .menu__list {
  //     display: none;
  //   }

  .menu__open .menu__list {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    position: fixed;
    top: toRem(83);
    right: 0;
    width: 60%;
    background-color: $secondary-bg-color;
    // min-height: 100%;
    padding-block: toRem(56);

    .menu__link {
      font-size: toRem(18);
    }
  }

  .menu__item {
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }
}

@media (max-width: 640px) {
  .menu__open .menu__list {
    width: 100%;

    min-height: 100%;
  }
}

// .nav {
//   display: flex;
//   gap: toRem(20);
//   font-size: 14px;

//   @media (max-width: 950px) {
//     display: none;
//     position: absolute;
//     top: 100%;
//     right: 0;
//     flex-direction: column;
//     background-color: grey;
//     padding: toRem(20);
//     z-index: 10;
//     width: 100%;
//   }

//   &.nav_open {
//     display: flex;
//   }

//   &__item {
//     &:hover {
//       background-color: rgba(217, 0, 173, 0.3);
//       color: #fff;
//       box-shadow: 1px 1px 54px 9px rgba(217, 0, 173, 0.3);
//     }
//   }
// }

// .menu_open {
// }
