@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.item {
  display: flex;
  align-items: flex-start;
  gap: toRem(15);

  // display: grid;

  background-color: $secondary-bg-color;
  color: $description-text-color;
  padding: toRem(15);
  border-radius: toRem(10);

  .icon {
    width: toRem(24);
  }

  .benefit {
    &__title {
      margin-bottom: toRem(20);
    }
  }

  @media (min-width: $tablet) {

  }

  @media (min-width: $desktop) {
  }
}
