@use "../../styles/utils/functions" as *;
@use "../../styles/utils/variables" as *;

.admin {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);

  &__title {
    margin-bottom: toRem(30);
  }
}

.dashboardWrapper {
  display: flex;
  gap: toRem(30);
}

.sidebar {
  width: 30%;
}

.mainContent {
  width: 70%;
}
