@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.coachesSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.coaches {
  display: flex;
  flex-direction: column;
  column-gap: toRem(30);
  row-gap: toRem(40);
  justify-content: center;

  @media (min-width: $tablet) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
  }
}

.coach img {
  // адаптується до ширини батьківського блоку
  // max-width: toRem(400); // не більше 400px
  width: clamp(380px, 25vw, 400px);

  height: auto;
  border-radius: toRem(16);
  object-fit: cover;
  display: block;

  & img {
    border-radius: toRem(16);
    height: auto;
    object-fit: cover;
  }

  @media (min-width: $tablet) {
    width: toRem(380);
    // flex: 1 1 calc(50% - toRem(20));
    // max-width: calc(50% - toRem(20));
  }

  @media (min-width: $desktop) {
    width: toRem(380);

    // flex: 1 1 calc(25% - toRem(20)); // 4 в ряд
    // max-width: calc(25% - toRem(20));
  }
}
