@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.coachesSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
}

.coaches {
  display: flex;
  flex-direction: column;
  row-gap: toRem(40);
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.coach {
  width: 280px;

  padding: 20px;
  border-radius: toRem(16);
  background-color: $secondary-bg-color;

  &:not(:last-child) {
    margin-right: toRem(20);
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 95%;
    height: 550px;
    border-radius: toRem(16);
    object-fit: cover;
    display: block;

    margin-bottom: 30px;

    @media (min-width: $tablet) {
      width: toRem(300);
      // flex: 1 1 calc(50% - toRem(20));
      height: 350px;
    }

    @media (min-width: $desktop) {
      width: toRem(300);
      // flex: 1 1 calc(25% - toRem(20));
    }
  }

  &__name {
  }
}
