@use "@styles/utils/variables" as *;
@use "@styles/utils/functions" as *;

.coachesSection {
  margin-block: toRem(95);
}

.headline {
  margin-bottom: toRem(65);
  position: relative;

  &__subtitle {
    position: absolute;
    width: 378px;
    top: -22px;
    object-fit: cover;
    left: -221px;
    z-index: -5;
  }
}

.coaches {
  display: grid;
  row-gap: toRem(40);
  justify-content: center;

  // На планшетах — по 2 елементи в колонці
  @media (min-width: $tablet) {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, auto);
    column-gap: 5%;

    justify-content: center;
  }

  // На десктопі — 4 в ряд (тобто grid по рядках)
  @media (min-width: $desktop) {
    grid-auto-flow: row; // переключаємось на рядки
    grid-template-columns: repeat(3, 1fr); // 4 в ряд
    grid-template-rows: none;
    column-gap: toRem(20);
  }
}

.coach {
  width: 100%;
  max-width: toRem(350);
  padding: toRem(15);
  border-radius: toRem(16);
  background-color: $secondary-bg-color;
  cursor: pointer;
  // background-color: green;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    height: auto;
    border-radius: toRem(16);
    object-fit: cover;

    margin-bottom: toRem(30);
  }

  &__name {
  }

  // @media (min-width: $tablet) {
  //   &:not(:last-child) {
  //     margin-right: toRem(20);
  //   }
  // flex: 1 1 calc(50% - toRem(20));
  // height: toRem(280);
  // box-sizing: content-box;
  // }

  // @media (min-width: $desktop) {
  // flex: 1 1 calc(25% - toRem(20));
  // }
}
